  .home .title{
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
  }

  .home .subtitle{
    font-size: 1.1rem;
    color: brown;

  }
.gerenciado{

    max-height: 250px;
    height: 100%;
  align-items: center;

}
